<div class="time-container">
  <div class="panel">
    <at-clock
      cleared="$ctrl.cleared"
      running="$ctrl.running"
      time="$ctrl.time">
    </at-clock>
    <div class="time-controls ">
      <button class="button success"
        ng-if="!$ctrl.running"
        ng-click="$ctrl.start()">
        {{ $ctrl.cleared ? 'Start' : 'Resume' }}
      </button>
      <button class="button alert"
        ng-if="$ctrl.running"
        ng-click="$ctrl.pause()">
        Pause
      </button>
      <button class="button secondary"
        ng-click="$ctrl.reset()">
        Reset
      </button>
    </div>
  </div>
</div>
