<div class="off-canvas-wrap">
	<div class="inner-wrap">
		<nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">AudioTime</h1>
      </section>
		</nav>
		<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li>
          <label>More</label>
        </li>
        <li>
          <a ui-sref="stopwatch" ui-sref-active="nav-item-active">
            <i class="fa fa-clock-o"></i> Stopwatch
          </a>
        </li>
        <li>
          <a ui-sref="timer" ui-sref-active="nav-item-active">
            <i class="fa fa-clock-o"></i> Timer
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog"></i> Settings
          </a>
        </li>
        <li>
          <a ui-sref="about" ui-sref-active="nav-item-active">
            &nbsp; <i class="fa fa-info"></i> About
          </a>
        </li>
      </ul>
		</aside>
		<section class="main-section">
      <div class="row">
        <div class="small-12 columns">
          <ui-view></ui-view>
        </div>
      </div>
		</section>
		<a class="exit-off-canvas"></a>
	</div>
</div>
