html,
body {
  background: red;
  height: 100%;
  margin: 0;
}

.off-canvas-wrap,
.left-off-canvas-menu {
  min-height: 100vh;
}

div.move-right a.exit-off-canvas {
  box-shadow: none;
}

.nav-item-active {
  background-color: #242424;
}

.time-controls {
  margin-left: 95px;
  margin-top: 30px;
}
