<div class="time-container">
  <div class="panel">
    <at-clock
      cleared="$ctrl.cleared"
      running="$ctrl.running"
      time="$ctrl.time">
    </at-clock>
    <div class="time-inputs">
      <input type="number" class="time-input" placeholder="mm"
        ng-min="0"
        ng-model="$ctrl.minInput"
        ng-change="$ctrl.changeTime()">
      <input type="number" class="time-input" placeholder="ss"
        ng-min="0" ng-max="59"
        ng-model="$ctrl.secInput"
        ng-change="$ctrl.changeTime()">
    </div>
    <div class="time-controls ">
      <button class="button success no-animate"
        ng-show="!$ctrl.running"
        ng-disabled="$ctrl.secInput === undefined || $ctrl.minInput === undefined"
        ng-click="$ctrl.start()">
        {{ $ctrl.cleared ? 'Start' : 'Resume' }}
      </button>
      <button class="button alert no-animate"
        ng-show="$ctrl.running"
        ng-click="$ctrl.pause()">
        Pause
      </button>
      <button class="button secondary"
        ng-disabled="$ctrl.secInput === undefined || $ctrl.minInput === undefined"
        ng-click="$ctrl.reset()">
        Reset
      </button>
    </div>
  </div>
</div>
