@import 'vendor';
@import 'variables';

.center-container {
  display: flex;
  height: 100%;
  position: fixed;
  width: 100%;
}

.loading-spinner {
  color: white;
  font-size: 64px;
  margin: auto;
}

.transparent-modal {
  background-color: darken($grey, 10%);
  border-radius: 1%;
}

.time-container {
  margin: 30px auto;
  width: 320px;
}

// ui-view animations
[ui-view].ng-enter, [ui-view].ng-leave {
  transition: all .5s;
}
[ui-view].ng-enter {
  transform: translate(-1000px, 0);
}
[ui-view].ng-enter-active {
  transform: translate(0, 0);
}
[ui-view].ng-leave {
  opacity: 0;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
