@import 'vendor';
@import 'variables';

.center-of-viewport {
  font-size: 46px;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: fixed;
  top: 50%;
}

.time-container {
  margin: 30px auto;
  width: 320px;
}

