<form class="settings-form">
  <div class="row">
    <div class="small-12 columns">
      <label>Audio/Voice
        <select ng-model="$ctrl.audioVoice">
          <option value="voice">Voice</option>
          <option value="audio">Audio</option>
          <option value="none">None</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label>Delay (in seconds) before start
        <input type="number" ng-model="$ctrl.delay" />
      </label>
    </div>
  </div>
</form>
